* {
  margin: 0;
  padding: 0; }

:root {
  --black-color: #111;
  --white-color: #eee;
  --gray-color: #999;
  --green-color: #0f0;
  --green-gradient: linear-gradient(to bottom right, #043, #061);
  --font-s-small: 0.8rem;
  --font-s-normal: 1rem;
  --font-s-large: 1.5rem;
  --font-s-big: 3rem; }

@media (max-width: 700px) {
  :root {
    --font-s-small: 0.7rem;
    --font-s-normal: 0.9rem;
    --font-s-large: 1.3rem;
    --font-s-big: 2rem; } }

@media (max-width: 430px) {
  :root {
    --font-s-small: 0.6rem;
    --font-s-normal: 0.8rem;
    --font-s-large: 1.2rem;
    --font-s-big: 1.5rem; } }

@media (max-width: 330px) {
  :root {
    --font-s-small: 0.5rem;
    --font-s-normal: 0.7rem;
    --font-s-large: 1rem;
    --font-s-big: 1.2rem; } }

.border {
  border: 2px solid #0f0; }

.ellipse-active {
  clip-path: ellipse(100% 100%); }

.ellipse-hide {
  clip-path: ellipse(1rem 1rem at top right);
  transition: 0.5s; }

.btn {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-width: 6rem;
  padding: 0.6rem;
  outline: none;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  background: #111;
  color: #aaa; }

.btn-primary {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-width: 6rem;
  padding: 0.6rem;
  outline: none;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  background: #111;
  color: #aaa;
  background: none;
  color: #111; }

.btn-secundary {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-width: 6rem;
  padding: 0.6rem;
  outline: none;
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  background: #111;
  color: #aaa;
  border-color: #fa0; }

header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.5rem #000;
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: 100% 100%;
  position: sticky;
  z-index: 9;
  top: 0; }

header .logo img {
  width: 150px; }

@media (max-width: 430px) {
  header .logo img {
    width: 120px; } }

@media (max-width: 380px) {
  header .logo img {
    width: 100px; } }

header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

header nav ul li {
  list-style: none; }

header nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: #062;
  color: #043;
  font-weight: bold;
  font-size: var(--font-s-large);
  transition: 0.5s; }

header nav ul li a span {
  background: var(--green-gradient);
  color: #111;
  padding: 0.1rem;
  box-shadow: 2px 2px 0.5rem #222 inset;
  transition: 0.5s; }

header nav ul li a:hover,
header nav ul li a:hover span {
  color: #aaa; }

.home {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8); }

.home .eachChar {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #111; }

.home .eachChar .eachHead {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }

.home .eachChar .eachHead .eachImg {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 300px; }

.home .eachChar .eachHead .eachImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  animation: translateimg 2s; }

@keyframes translateimg {
  from {
    transform: translatey(-100%); }
  to {
    transform: translatey(0); } }

.home .eachChar .eachHead .eachImg h3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  width: 100%;
  position: absolute;
  color: #062;
  color: #043;
  font-size: var(--font-s-large);
  bottom: 0;
  text-align: center;
  left: 0;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  transition: 0.5s;
  animation: translateH 2s; }

@keyframes translateH {
  from {
    transform: translatey(100%); }
  to {
    transform: translatey(0); } }

.home .eachChar .eachHead .eachImg:hover img {
  transform: scale(1.1); }

.home .eachChar .eachHead .eachImg:hover h3 {
  color: #aaa; }

.mainQuotes .wrapperQuote {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0 0.2rem 0;
  background: var(--green-gradient);
  box-shadow: 2px 2px 1rem #000 inset;
  animation: translateQuote 2s; }

@keyframes translateQuote {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.mainQuotes .wrapperQuote .eachQuote {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 110px; }

.mainQuotes .wrapperQuote .eachQuote .quote {
  color: #aaa;
  font-size: var(--font-s-normal);
  margin: 0 1rem; }

.mainQuotes .wrapperQuote .eachQuote .controlsQuote {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin: 0 0.3rem 0 0; }

.mainQuotes .wrapperQuote .eachQuote .controlsQuote button {
  margin: 0 0.3rem;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem; }

.mainQuotes .wrapperQuote .eachQuote .controlsQuote .addFavorite {
  color: #777; }

.mainQuotes .wrapperQuote .eachQuote .controlsQuote .removeFavorite {
  color: #f00; }

.mainQuotes .wrapperQuote .authorQuote {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0.2rem 0 0 0; }

.mainQuotes .wrapperQuote .authorQuote i {
  margin: 0 0.3rem 0 0;
  font-size: var(--font-s-small);
  color: #aaa; }

.pagination {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%; }

.pagination p {
  color: #062;
  font-size: var(--font-s-normal);
  font-weight: bold; }

.pagination button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: var(--green-gradient);
  border: none;
  outline: none;
  color: #aaa;
  padding: 0.4rem;
  font-weight: bold;
  box-shadow: .2rem .2rem 1rem #000 inset;
  font-size: var(--font-normal);
  transition: 0.5s; }

.pagination button:hover {
  color: #062; }

.pagination .next {
  border-radius: 0 0.5rem 0.5rem 0; }

.pagination .prev {
  border-radius: 0.5rem 0 0 0.5rem; }

body {
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: 100% 100%;
  position: relative; }
