//Main color
$light-color: #fa0;

//mixin border-radius recibe top, right, bottom y left
@mixin border-radius($t: .5rem, $r: .5rem, $b: .5rem, $l: .5rem) {
	border-radius: $t $r $b $l;
}

@mixin flex($direction, $justify, $align: center) {
	display: flex;
	justify-content: $justify;
	flex-direction: $direction;
	align-items: $align;
}

